{% extends 'base.html' %}

{% block conteudo %}

<h1 class="mt-5">Minha agenda</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Telefone</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    {% for contato in contatos %}
      {% if contato.mostrar %}
        <tr>
          <td>
            <a href="{% url 'ver_contato' contato.id %}">{{ contato.nome }}</a>
          </td>
          <td>{{ contato.sobrenome }}</td>
          <td>{{ contato.telefone }}</td>
          <td>{{ contato.categoria }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
      {% if contatos.has_previous %}
          <a href="?p={{ contatos.previous_page_number }}&termo={{ request.GET.termo }}">Anterior</a>
      {% endif %}
  
      <span class="current">
          {{ contatos.number }} de {{ contatos.paginator.num_pages }}
      </span>
  
      {% if contatos.has_next %}
          <a href="?p={{ contatos.next_page_number }}&termo={{ request.GET.termo }}"">Próxima</a>
      {% endif %}
  </span>
</div>


{% comment %} <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    
    {% for pagina in contatos.paginator.page_range %}
      {% if contatos.number == pagina %}
        <li class="page-item active">
          <a class="page-link" href="?={{pagina}}">{{pagina}}</a>
        </li>
      {% else %} 
        <li class="page-item">
          <a class="page-link" href="?={{pagina}}">{{pagina}}</a>
        </li> 
      {% endif %}
    {% endfor %}
    
  </ul>
</nav> {% endcomment %}



{% endblock %}